*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Comic Sans MS", "Comic Sans", cursive; /* pelo amor de deus muda isso dps */
    font-size: 16px;
    background-color: #F5F5F5;
    color: #000000;
}

.header {
    overflow: hidden;
    background-color: #FFF9C7;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.header, nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    list-style-type: none;
    margin-right: 90px;
}
   
nav ul a {
    margin-left: 100px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    margin-top: 70px;
    font-size: 20px;
}

.logo {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF9C7;
    padding: 40px;
    text-align: center;
    width: 100%;
}

.instagram-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

footer h2 {
    font-size: 30px;
    margin: 0;
}

/*até aqui ajustes do header e footer*/

.abelhas_texto h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.abelhas_texto p{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 50px;
}

.texto1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 20px;
    font-size: 20px;
}

.texto2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 20px;
    font-size: 20px;
}

.txtig {
    font-size: 20px;
    text-align: center;
}

.bottomimgs {
    display: flex;
    justify-content: center;
    gap: 40px;
}