*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    font-size: 16px;
    background-color: #F5F5F5;
    color: #000000;
}

.header {
    overflow: hidden;
    background-image: linear-gradient(#ffae00, #ff9500);
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.header, nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    list-style-type: none;
    margin-right: 90px;
    align-items: center;
}
   
nav ul a {
    margin-left: 100px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    font-size: 20px;
}

nav ul a:hover {
    color: #e9e9e9;
    font-weight: bold;
}

.logo {
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

footer {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #ffa620;
    padding: 40px;
    text-align: center;
    width: 100%;
    gap: 100px;
}

.instagram-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.instagram-logo {
    width: 50px;
    height: 50px;
}

footer h2 {
    font-size: 20px;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: #000000;
    
}

footer a:hover {
    color: #e9e9e9;
    font-weight: bold;
}

/*até aqui ajustes do header e footer*/

.abelhas_texto h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.abelhas_texto p{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 50px;
}

.texto1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 20px;
    font-size: 20px;
}

.imagem1 {
    width: 60%;
    height: auto;
    margin-right: 10px;
    border-radius: 10%;
}

.imagem2 {
    width: 60%;
    height: auto;
    margin-right: 10px;
    border-radius: 10%;
}

.imagem3 {
    width: 60%;
    height: auto;
    margin-right: 10px;
    border-radius: 10%;
}

.texto2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.txtig {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

.bottomimgs {
    display: flex;
    justify-content: center;
    gap: 40px;
}